#nav{
    max-height: 100vh;
}
.nav_logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    background-color: #f55959;
    margin: auto;
}

.nav_logo-text{
    font-size: 1rem;
    color: grey;
    font-weight: var(--font-bold);
    line-height: 3rem;
}

.nav_menu{
    position: fixed;
    transform: rotate(-90deg) translate(-100%);
    transform-origin: left top;
    width: 100vh;
    top: 1rem;
    text-transform: uppercase;
}

.menu{
    display: flex;
}

.nav_list{
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
}

.nav_link{
    float: right;
    line-height: 5.5rem;
    padding: 0 1rem;
    color: grey;
    font-weight: var(--font-bold);
    font-size: var(--small-font-size);
    position: relative;
    transition: .4s;
}

.btn_share{
    position: absolute;
    bottom: 0rem;
    left: 0;
    right: 0;
    text-align: center;
}

.social_share{
    font-size: 1.5rem;
}

/* Active link */

.nav_link.active-link, .nav_link:hover{
    color: #f55959;
}

.nav_link.active-link::after, .nav_link:hover::after{
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: #f55959;
    border-radius: 50%;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    margin: auto;
}
